.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding-top: 2rem;
}

.instructions {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

.crop {
  width: 15rem;
  overflow: hidden;
  padding-top: 2rem;
}

.crop img {
  width: 35rem;
  margin: 0 -250px;
  mix-blend-mode: multiply;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

p {
  margin: 0.2rem;
}
.startAction {
  margin-top: 2rem;
}
