.container {
  display: flex;
  flex-direction: row;
}

.instructions {
  width: 60%;
  display: flex;
  flex-direction: column;
  /* margin: auto; */
  padding-top: 2rem;
}

.crop {
  width: 20rem;
  overflow: hidden;
  padding-top: 2rem;
}

.crop img {
  width: 40rem;
  margin: 0 -400px;
}

p {
  margin: 0.2rem;
}
.startAction {
  margin-top: 2rem;
}
