.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding-top: 2rem;
}

.instructions {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}
.instructions h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.instructions img {
  padding: 0 0.6rem;
}
.crop {
  width: 15rem;
  overflow: hidden;
  padding-top: 2rem;
}

.crop img {
  width: 35rem;
  margin: 0 -250px;
  mix-blend-mode: multiply;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

p {
  margin: 0.2rem;
}
.startAction {
  margin-top: 2rem;
}

/* Media query for screens smaller than 430px */
@media only screen and (max-width: 430px) {
  .container {
    flex-direction: column;
    gap: 2rem;
    padding: 0 1.2rem;
    position: relative;
  }

  .container p {
    color: #000;
  }
  .crop {
    position: absolute;
  }
  .crop img {
    position: relative;
    top: 0;
    width: 35rem;
    z-index: 0;
    opacity: 0.2;
  }
}
