.header {
  background-color: #e4cbcb;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
}

.header .MuiOutlinedInput-root {
  width: 75% !important;
}
