::-moz-selection {
  color: #ffffff;
  background: #ec2863;
}

::selection {
  color: #ffffff;
  background: #ec2863;
}

.countdown {
  width: 8rem;
  display: flex;
  flex-direction: row;
  color: #353535;
  /* border-radius: 100%; */
}

.cdBox {
  width: 100%;
  margin: 0.8rem 0.2rem;
  font-size: 2rem;
  /* border-radius: 30px; */
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  -moz-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

p.numbers {
  margin: 0;
  height: 3rem;

  /* background: #ffffff; */
}
p.block {
  margin: 0;
  height: 0.8rem;
  color: #ffffff;
  background: #ec2863;
}
