.outerCircle {
  width: 140px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  font-size: 32px;
  border: 10px solid #fff;
  outline: 5px solid #424242;
}

.innerCircle {
  border-radius: 50%;
  outline: 3px solid rgb(199, 5, 5);
  border: 10px solid red;
}
