/* buttons: #11CBD7 */
/* footer : rgba(0, 0, 0, 0.8) */
/* background : #f4f3f2  */
/* header : #C6F1E7  */
/* text :   color: rgba(0, 0, 0, 0.87) */
/* summary text : #D80032  */
/* High-emphasis text has an opacity of 87% */
/* Medium-emphasis text and hint text have opacities of 60% */
/* Disabled text has an opacity of 38% */
/* ::selection : #C6F1E7  */

body,
html,
#root {
  max-width: 1280px;
  height: 100vh;
  margin: 0;
  text-align: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f4f3f2;
}

::-moz-selection {
  background: #c6f1e7;
}

::selection {
  background: #c6f1e7;
}

main {
  padding: 7rem 0 3rem;
  margin: 0 4rem;
}

ol {
  padding-left: 1rem;
}

h1 {
  width: 30rem;
}

.MuiOutlinedInput-notchedOutline {
  border-radius: 50px !important;
}

.MuiOutlinedInput-notchedOutline,
input {
  width: 10rem !important;
  overflow: hidden;
}

p,
h4 {
  color: rgba(0, 0, 0, 0.6);
}
h1,
h2,
h3 {
  color: rgba(0, 0, 0, 0.87);
}
