body,
html,
#root {
  max-width: 1280px;
  height: 100vh;
  margin: 0;
  text-align: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

main {
  padding: 7rem 0 3rem;
  margin: 0 4rem;
}

ol {
  padding-left: 1rem;
}
h1 {
  width: 30rem;
}

.MuiOutlinedInput-notchedOutline {
  border-radius: 50px !important;
}

.MuiOutlinedInput-notchedOutline,
input {
  width: 10rem !important;
  overflow: hidden;
}
